{% extends "layout.html" %}
{% block content %}
    <section>
        <div class="container">
            <div class="entry-list single">
            {%for entry in entry %}
                <h2>{{ entry.title }}</h2>
                <h3>Date</h3>
                <p>{{ entry.date }}</p>
                <h3>Time Spent</h3>
                <p>{{ entry.time }}</p>
                <h3>What I Learned</h3>
                <p>{{ entry.entry }}</p>
                <h3>Resources to Remember</h3>
                <p>{{ entry.resources }}</p>
                <h3>Tags</h3>
                <p>{{ entry.tag }}</p>
            {% endfor %}
            </div>
        </div>
        <div class="edit">
            {% for entry in entry %}
            <p><a href="{{url_for('edit', entry_title = entry.title)}}">Edit Entry</a></p>
            <p><a href="{{url_for('delete', entry_title = entry.title)}}">Delete Entry</a></p>
            {% endfor %}
        </div>
    </section>
{% endblock %}
