{% extends "layout.html" %}
{% block content %}
    {% if current_user.is_authenticated %}
        <h1>Welcome {{current_user.username}}</h1>
    {% else %}
        <h1>Welcome Dear Journalist!</h1>
    {% endif %}
        <section>
            <div class="container">
            <p>Journalist helps you keep track of what you learn in life.</p>
            <p>You can track resources, time spent, and more. Login today
            to get strated.</p>
            <img src="static/images/journalist.jpg" alt="Journalist">
            </div>
        </section>
{% endblock %}
