{% extends "entries.html" %}
{% block content %}
    <h1>Journal Entries for {{current_user.username}}</h1>
        <section>
            <table>
                <tr class="list-header">
                    <th class="list-title">Title</th>
                    <th class="list-title">Date</th>
                    <th class="list-title">Tag</th>
                </tr>
                    {% if entries %}
                        {% for entry in entries%}
                        <tr>
                        <td class="list-text"><a href="{{url_for('details', entry_title = entry.title)}}">{{entry.title}}</a></td>
                        <td class="list-text">{{entry.date}}</td>
                        <td class="list-text"><a href="{{url_for('tagview', tag = entry.tag)}}">{{entry.tag}}</a></td>
                        </tr>
                        {% endfor %}
                    {% endif %}
            </table>
        </section>
{% endblock %}
